.search-container {
    margin: auto;
    max-width: 700px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
 /deep/ .input-destinatario>.mat-form-field-wrapper {
    position: absolute !important; 
    bottom: 0 !important;
    width: 100% !important;
}
